*-stamp
*~
*.app/
*.debug/
*.framework/
*.nfont/
*.prefs/
*.profile/
dejavu-ttf-*
derived_src/
obj/
shared*_obj/
*ChangeLog
*term.gdt
*term.gpr
GNUmakefile
/System/Backbone.make
/System/autom4te.cache/
/System/config.h
/System/config.h.in
/System/config.log
/System/config.status
/System/configure
/System/stamp-h
/System/aclocal.m4
PreferencesInfo.plist
TerminalInfo.plist
TextEditInfo.plist
