{
    Faces = (
	{
	    Files = (
		"DejaVuSansMono.ttf"
	    );
	    Name = Book;
	    PostScriptName = "DejaVuSansMono";
	    Traits = 512;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSansMono-Oblique.ttf"
	    );
	    Name = "Book Oblique";
	    PostScriptName = "DejaVuSansMono-Oblique";
	    Traits = 513;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSansMono-Bold.ttf"
	    );
	    Name = Bold;
	    PostScriptName = "DejaVuSansMono-Bold";
	    Traits = 514;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSansMono-BoldOblique.ttf"
	    );
	    Name = "Bold Oblique";
	    PostScriptName = "DejaVuSansMono-BoldOblique";
	    Traits = 515;
	    Weight = 9;
	},
    );
}