{
    Faces = (
	{
	    Files = (
		"DejaVuSerif.ttf"
	    );
	    Name = Book;
	    PostScriptName = DejaVuSerif;
	    Traits = 0;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerif-Italic.ttf"
	    );
	    Name = "Book Italic";
	    PostScriptName = "DejaVuSerif-Italic";
	    Traits = 1;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerifCondensed.ttf"
	    );
	    Name = "Book Condensed";
	    PostScriptName = "DejaVuSerifCondensed";
	    Traits = 16;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-Italic.ttf"
	    );
	    Name = "Book Condensed Italic";
	    PostScriptName = "DejaVuSerifCondensed-Italic";
	    Traits = 17;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerif-Bold.ttf"
	    );
	    Name = Bold;
	    PostScriptName = "DejaVuSerif-Bold";
	    Traits = 2;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerif-BoldItalic.ttf"
	    );
	    Name = "Bold Italic";
	    PostScriptName = "DejaVuSerif-BoldItalic";
	    Traits = 3;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-Bold.ttf"
	    );
	    Name = "Bold Condensed";
	    PostScriptName = "DejaVuSerifCondensed-Bold";
	    Traits = 18;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-BoldItalic.ttf"
	    );
	    Name = "Bold Condensed Italic";
	    PostScriptName = "DejaVuSerifCondensed-BoldItalic";
	    Traits = 19;
	    Weight = 9;
	}
    );
}