{
    Faces = (
	{
	    Files = (
		"DejaVuSerif.ttf"
	    );
	    Name = Book;
	    PostScriptName = DejaVuSerif;
	    Traits = 0;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerif-Oblique.ttf"
	    );
	    Name = "Book Oblique";
	    PostScriptName = "DejaVuSerif-Oblique";
	    Traits = 1;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerifCondensed.ttf"
	    );
	    Name = "Book Condensed";
	    PostScriptName = "DejaVuSerifCondensed";
	    Traits = 16;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-Oblique.ttf"
	    );
	    Name = "Book Condensed Oblique";
	    PostScriptName = "DejaVuSerifCondensed-Oblique";
	    Traits = 17;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSerif-Bold.ttf"
	    );
	    Name = Bold;
	    PostScriptName = "DejaVuSerif-Bold";
	    Traits = 2;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerif-BoldOblique.ttf"
	    );
	    Name = "Bold Oblique";
	    PostScriptName = "DejaVuSerif-BoldOblique";
	    Traits = 3;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-Bold.ttf"
	    );
	    Name = "Bold Condensed";
	    PostScriptName = "DejaVuSerifCondensed-Bold";
	    Traits = 18;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSerifCondensed-BoldOblique.ttf"
	    );
	    Name = "Bold Condensed Oblique";
	    PostScriptName = "DejaVuSerifCondensed-BoldOblique";
	    Traits = 19;
	    Weight = 9;
	}
    );
}