{
    Faces = (
	{
	    Files = (
		DejaVuSans-ExtraLight.ttf
	    );
	    Name = "Extralight";
	    PostScriptName = DejaVuSans-ExtraLight;
	    Traits = 0;
	    Weight = 3;
	},
	{
	    Files = (
		DejaVuSans.ttf
	    );
	    Name = Book;
	    PostScriptName = DejaVuSans;
	    Traits = 0;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSans-Oblique.ttf"
	    );
	    Name = "Book Oblique";
	    PostScriptName = "DejaVuSans-Oblique";
	    Traits = 1;
	    Weight = 4;
	},
	{
	    Files = (
		DejaVuSansCondensed.ttf
	    );
	    Name = "Book Condensed";
	    PostScriptName = DejaVuSansCondensed;
	    Traits = 16;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSansCondensed-Oblique.ttf"
	    );
	    Name = "Book Condensed Oblique";
	    PostScriptName = "DejaVuSansCondensed-Oblique";
	    Traits = 17;
	    Weight = 4;
	},
	{
	    Files = (
		"DejaVuSans-Bold.ttf"
	    );
	    Name = Bold;
	    PostScriptName = "DejaVuSans-Bold";
	    Traits = 2;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSans-BoldOblique.ttf"
	    );
	    Name = "Bold Oblique";
	    PostScriptName = "DejaVuSans-BoldOblique";
	    Traits = 3;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSansCondensed-Bold.ttf"
	    );
	    Name = "Bold Condensed";
	    PostScriptName = "DejaVuSansCondensed-Bold";
	    Traits = 18;
	    Weight = 9;
	},
	{
	    Files = (
		"DejaVuSansCondensed-BoldOblique.ttf"
	    );
	    Name = "Bold Condensed Oblique";
	    PostScriptName = "DejaVuSansCondensed-BoldOblique";
	    Traits = 19;
	    Weight = 9;
	}
    );
}