{
    ApplicationDescription = "GNUstep Preferences Editor";
    ApplicationIcon = Preferences;
    ApplicationName = Preferences;
    ApplicationRelease = "1.2.0";
    ApplicationURL = "none";
    Authors = (
	"Jeff Teunissen <deek@d2dc.net>"
    );
    Copyright = "Copyright (C) 2002 Dusk to Dawn Computing";
    CopyrightDescription = "Released under the GNU GPL. See COPYING-app for details.";
    FullVersionID = "1.2.0";
    NSTypes = (
    	{
	    NSName = "prefs";
	    NSHumanReadableName = "Preferences module";
	    NSUnixExtensions = ("prefs");
	    NSDOSExtensions = ("prefs");
	    NSMIMETypes = ("application/x-gnustep-prefsmodule");
	    NSIcon = PrefsModule;
	    NSRole = Viewer;
	    NSDocumentClass = Document;
	}
    );
}
